# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Code::Blocks IDE files
*.cbp
*.layout
*.depend

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
bin/
images/
Invert/tests
Invert/obj
Invert/bin
obj
publ_utils/
test_data/

# Individual files
geoSurfDEM





